* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
#datetime-picker {
  border: solid 3px #212121;
  border-radius: 5px;
  padding: 5px 7px;
  text-align: center;
  margin-right: 30px;
  font-size: 15px;
  box-shadow: #212121;
}

button[data-start] {
  border: solid 3px #212121;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

button[data-stop] {
  border: solid 3px #212121;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  background-color: aliceblue;
}
.timer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  /* padding: 15px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}
span.value {
  font-size: 40px;
  font-weight: 500;
  color: blue;
}
span.label {
  font-size: 30px;
  color: yellow;
}

form > label {
  font-size: 30px;
}
input[type='number'] {
  padding: 5px 15px;
}
button[type='submit'] {
  border: solid 3px #212121;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  background-color: aliceblue;
}
